<launch>
    <group ns="osc_layout">
        <node name="iPad" pkg="touchosc_utils" type="osc_layoutserver">
            <param name="name" type="str" value="ROS OSC iPad" />
            <param name="port" type="str" value="10000" />
            <param name="layout_path" type="str" value="$(find rososc_tutorials)/layouts/ROS-Demo-iPad.touchosc"/>
        </node>
        <node name="iPhone" pkg="touchosc_utils" type="osc_layoutserver">
            <param name="name" type="str" value="ROS OSC iPhone" />
            <param name="port" type="str" value="10001" />
            <param name="layout_path" type="str" value="$(find rososc_tutorials)/layouts/ROS-Demo-iPhone.touchosc"/>
        </node>
    </group>
</launch>
