<launch>
    <param name="touchosc_layout_path" value="$(find rososc_tutorials)/layouts/ROS-Demo-iPhone.touchosc" />
    <node pkg="touchosc_bridge" type="touchosc_bridge.py" name="touchosc_bridge" output="screen">
        <param name="name" value="ROS OSC Service"/>
        <param name="port" value="9000"/>
        <param name="regtype" value="_osc._udp"/>
    </node>
</launch>
